<template>
  <div class="page-container">
		<!-- TODO need to pass in `root_dir' as a prop -->
   	<md-app md-mode='fixed'>
     	<md-app-toolbar class="md-primary">
				<div class="md-layout">
					<div class="md-toolbar md-layout-item">
		       	<md-button class="md-icon-button" @click="menuVisible = !menuVisible">
    		   		<md-icon>menu</md-icon>
     		  	</md-button>
					</div>
					<div class="md-toolbar md-layout-item">
						<span class="md-title">Emerging Philosophy</span>
					</div>
			    <div class="md-layout-item">
						<md-field>
				      <label>Search</label>
			  	    <md-input v-model="search"></md-input>
					    <md-icon style="filter: invert(100%);">search</md-icon>
						</md-field>
					</div>
			  </div>
     	</md-app-toolbar>

     	<md-app-drawer :md-active.sync="menuVisible">
       	<md-toolbar class="md-transparent" md-elevation="3">
					<md-avatar class="md-avatar-icon">
						<a :href=home()><md-icon>home</md-icon></a>
					</md-avatar>
				</md-toolbar>

				<md-list class='main-nav-content'>
					<menu-item icon-name='book' menu-name='Publications' path-name='/publications'></menu-item>
					
					<menu-item icon-name='table_chart' menu-name='Knowledge Base' path-name='/knowledgebase'></menu-item>
					<md-list class='main-nav-level'>
						<menu-item icon-name='insert_chart' menu-name='Digital Philosophy' path-name='/knowledgebase/q_digital_philosophies'></menu-item>
						<menu-item icon-name='insert_chart' menu-name='Critical Writing' path-name='/knowledgebase/q_critical_writings'></menu-item>
						<menu-item icon-name='insert_chart' menu-name='Authors' path-name='/knowledgebase/q_authors'></menu-item>
					</md-list>

					<menu-item icon-name='info' menu-name='About' path-name='/about'></menu-item>

					<menu-item icon-name='insert_chart' menu-name='Raw Data' path-name='/raw_data'></menu-item>

					<menu-item icon-name='show_chart' menu-name='Timeline' path-name='/timeline'></menu-item>

					<menu-item icon-name='contact_support' menu-name='Contact' path-name='/contact'></menu-item>

					<menu-item icon-name='settings' menu-name='Settings' path-name='/settings'></menu-item>

					<menu-item icon-name='directions' menu-name='Routes' path-name='/routes'></menu-item>

					<menu-item icon-name='table_chart' menu-name='Playground' path-name='/playground'></menu-item>
					<md-list class='main-nav-level'>
						<!-- hmm -->
						<menu-item icon-name='insert_chart' menu-name='Records' path-name='/playground/records'></menu-item>
					</md-list>

				</md-list>
      </md-app-drawer>

      <md-app-content>
				<slot></slot>
      </md-app-content>

    </md-app>
  </div>
</template>

<style lang="scss" scoped>
	/*!
	 * App CSS (scoped)
	 * Made with <3 by Sahos 2019
	 * Released under the GNU GPL v3 License.
	 */

	#search {
	}

	input { 
		caret-color: black;
	}

	.md-title {
		cursor: default;
	}
  .md-app {
		max-width: 800px; /* why is this not setting the correct width in Chrome? */
		margin: auto;
    min-height: 600px;
    border: 1px solid rgba(#000, .12);
  }
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }
	.md-list-item-active {
		background-color: #ff5252;
		opacity: .6;
	}
	.md-list {
		padding: 0px 0px;
	}
	.main-nav-content {
		font-family: Roboto Mono,monospace;
	}
	.main-nav-level {
  	margin-left: 20px;
	}
</style>
<style lang="scss">
	/*!
	 * App CSS (non-scoped)
	 * Made with <3 by Sahos 2019
	 * Released under the GNU GPL v3 License.
	 */
</style>

<script>

import MenuItem from './menu-item'

export default {
	// TODO need to pass in `name' as a prop
  name: 'emerging-philosophy',
	data: () => ({
    menuVisible: false,
		search: ''
  }),
  components: {
		'menu-item': MenuItem
	},
	methods: {
		home() { return '/'+window.app_root }
	}
}
</script>
