<template>
	<pre><code>{{code}}</code></pre>
</template>

<script>
export default {
	props: {
		code: String
	},
	data: () => ({
	}),
}
</script>

<style scoped>
	pre {
		white-space: pre-wrap;
	}
</style>
