
import Vue from 'vue/dist/vue.esm'

Vue.component('ul-node', {
	
});

// define the node component
Vue.component('li-node', {

  template: '#li-node-template',

  props: {
    n_model: Object
  },

  data: function () {
    return {
      open: true,
			removed: false,
			track_removed: 0
    }
  },

  computed: {
    hasChildren: function () {
      return this.n_model.children &&
        (this.n_model.children.length-this.track_removed)
    },
		allowSiblings: function () {
			//return this.$parent != this.$root
			return this != this.$root
		},
		content: function() {
			return this.n_model.name
		}
  },

  methods: {

		updateLiNode: function (el, ev) {
			let self = this
			self.$root.update_label(self.n_model.id, ev.target.innerText, function(data, error){
				if(data == undefined){
					self.$root.show_message(error)
					// TODO blink node (?) and display error message
				}else{
					self.n_model.name = ev.target.innerText
				}
			})
		},

		removeNode: function () {
			if (this.hasChildren) {
				this.$root.show_message('<p>Cannot remove things that have children, sorry.</p>')
			}else{
				let self = this
				self.$root.delete_leaf(self.n_model.id, function(data, error){
					if(data == undefined){
						self.$root.show_message(error)
						// TODO blink node (?) and display error message
					}else{
						self.removeChild()
					}
				})
			}
		},

		removeChild: function() {
			this.removed = true
			this.$parent.track_removed += 1
		},

		makeFolder: function() {
			if (this.hasChildren) {
				this.$root.show_message('<p>Already a folder?</p>')
			}else{
				let self = this
				let parent_id = self.n_model.id
				self.$root.add_child(parent_id, 'a child', function(data, error){
					if(data == undefined){
						self.$root.show_message(error)
						// TODO blink node (?) and display error message
					}else{
						Vue.set(self.n_model, 'children', [])
        		self.addChild('a child', data.id)
        		self.open = true
					}
				})
			}
		},

		toggleOpenClose: function() {
			if (this.hasChildren) {
        this.open = !this.open
      }
		},

		addSibling: function() {
			let self = this
			let parent_id = self.n_model.id
			self.$root.add_child(parent_id, 'a sibling', function(data, error){
				if(data == undefined){
					self.$root.show_message(error)
					// TODO blink node (?) and display error message
				}else{
					self.addChild('a sibling', data.id)
				}
			})
		},

		addChild: function (child_name, child_id) {
      this.n_model.children.push({
        name: child_name,
				id: child_id
      })
    }

	}

});
