<template>
	<md-list-item :href='liHref()' :class='liClass()'>
		<md-icon>{{iconName}}</md-icon>
		<span class="md-list-item-text">{{menuName}}</span>
	</md-list-item>
</template>

<style lang="scss" scoped>
	/*!
	 * menu-item CSS (scoped)
	 * Made with <3 by Sahos 2019
	 * Released under the GNU GPL v3 License.
	 */

	.md-list-item-active {
		background-color: #ff5252;
		opacity: .6;
	}
</style>
<style lang="scss">
	/*!
	 * menu-item CSS (non-scoped)
	 * Made with <3 by Sahos 2019
	 * Released under the GNU GPL v3 License.
	 */
	.md-list-item-content {
		padding: 0px 0px;
	}
</style>

<script>
export default {
	props: {
		iconName: String,
		menuName: String,
		pathName: String
	},
	methods: {
		liHref() {
			return '/'+window.app_root+this.pathName
		},
		liClass() {
			return window.location.pathname==this.liHref()?"md-list-item-active":""
		}
	}
}
</script>
