<template>
	<div class='shrink-to-fit'>
		<template v-if='anyRecords'>
			<table :id='tableId'>
				<thead>
					<tr class='table-header'>
						<th>
							<a v-if='writeable' class="pseudo button" href="#new" v-on:click='newRecord'>#</a>
							<a v-else class="pseudo button" :href='jsonRecord()'>#</a>
						</th>
						<template v-for='name in columnNames'>
							<th :key='name'>{{name}}</th>
						</template>
						<th v-if='writeable'></th>
						<!-- th colspan="2"></th -->
						<th>Originally stored</th>
						<th>Last updated</th>
						<th></th>
					</tr>
				</thead>

				<paginate name="the-records" tag="tbody" :list="records" :per="defaultAmountPerPage"> <!-- so much goodness here -->
					<tr class='table-body' v-for="(record, r_idx) in paginated('the-records')" :key='record.id' :record='record'>
						<td>
							<a v-if='writeable' class="pseudo button" href="#save" v-on:click='saveRecord(r_idx)'>💾</a>
						</td>
						<template v-for='(name) in columnNames'>
							<td :key='name'>
<input :id='columnId(r_idx, name)' @focus='resetField(r_idx, name)' v-model.lazy="record.attrs[name]" :placeholder="columnDefaults[name]" :type="columnTypes[name]" @change="makeDirty(r_idx)">
							</td>
						</template>
						<td v-if='writeable'>
							<a class="pseudo button" href="#delete" v-on:click='deleteRecord(r_idx)'>⌫</a>
						</td>
						<td>
							<span>{{record.created_at}}</span>
						</td>
						<td>
							<span>{{record.updated_at}}</span>
						</td>
						<td>{{record.dirty?'⁂':'…'}}</td>
					</tr>
				</paginate>
				<tfoot>
				</tfoot>
			</table>
			<paginate-links for="the-records" :limit="2" :show-step-links="true" :async='true'></paginate-links> <!-- bungles up table if put in footer :( -->
		</template>
		<button v-else @click='newRecord'>New {{recordName}}</button>
	</div>
</template>

<script>

export default {
	//
	// P R O P E R T I E S
	//
	props: {
		writeable: {
			type: Boolean,
			default: true
		},
		recordName: String,
		tableName: String,
		defaultAmountPerPage: Number,
		columnNames: Array,
		columnTypes: Object,
		columnDefaults: Object,
		columnNulls: Object // can be null is the semantics
	},

	//
	// D A T A
	//
	data: function() {
		return {
			records: [],
			paginate: ['the-records']
		}
	},
	computed: {
		anyRecords: function() {
			return this.records.length > 0
		},
		noRecords: function() {
			return this.records.length == 0
		},
		numRecords: function() {
			return this.records.length
		},
		api: function() {
			return '/api/'+this.tableName
		},
		tableId: function() {
			return "record_"+this.recordName
		}
	},

	//
	// M E T H O D S
	//
	methods: {
		makeReadableDate(date) {
			// ISO string format
			let explode = date.split('.')
			let parts = explode[0].split('T')
			return parts.join()
		},

		makeDirty: function(idx) {
			var self = this
			self.records[idx].dirty = true
		},

		jsonRecord: function() {
			return window.location.pathname+'.json'
		},

		newRecord: function() {
			var self = this
			let rec = {
				dirty: false,
				attrs: {}
			}
			for (let i=0; i<self.columnNames.length; i++) {
				let attr = self.columnNames[i]
				rec.attrs[attr] = self.columnDefaults[attr]
				rec.v = {}
			}
			self.notificationMethods('info', "new record: "+JSON.stringify(rec))
			return self.records.push(rec)
		},

		columnId: function(idx, name) {
			return "r["+idx+"]."+name
		},

		// validation routines
		// https://validatejs.org/ ???

		resetField: function(idx, name) {
			var self = this
			let record = self.records[idx]
			if (record.v[name]) {
				record.v[name] = ''
				self.notificationMethods('info', "reset ["+idx+"] of "+name)
				let el = document.getElementById(self.columnId(idx, name))
				el.classList.remove("uhoh");
				// el.className = ''
				el.title = ''
			}
		},
		validateField: function(idx, name, msg) {
			var self = this
			let record = self.records[idx]
			record.v[name] = msg
			self.notificationMethods('info', "uhoh for ["+idx+"] with "+name+" – "+msg)
			let el = document.getElementById(self.columnId(idx, name))
			el.classList.add("uhoh");
			// el.className = "uhoh"
			el.title = msg
		},
		validateColumn: function(idx, name) {
			var self = this
			let ok = true
			let t = self.columnTypes[name]
			let record = self.records[idx]
			let v = record.attrs[name]
			switch (t) { // anything goes for the moment
				case 'date':
					//
					break;
				case 'number':
					//
					break;
				case 'text':
					//
					break;
				default:
					self.notificationMethods('danger', "unknown column type `"+t+"' for column: "+name)
					ok = false
			}
			return ok
		},
		validateRecord: function(idx) {
			var self = this
			let record = self.records[idx]
			let ok = true
			for (let i=0; i<self.columnNames.length; i++) {
				let name = self.columnNames[i]
				if (!self.columnNulls[name]) { // can't be null
					if (record.attrs[name] === null ) { // what about '' ? … let's try null for the moment
						// it can't be null and it is null
						let msg = 'cannot be empty'
						self.validateField(idx, name, msg)
						ok = false
					} else {
						ok = self.validateColumn(idx, name)
					}
				} else { // can be null
					if (record.attrs[name] !== null ) {
						ok = self.validateColumn(idx, name)
					} else {
						// it can be null and it is null
					}
				}
			}
			return ok
		},

		// => (1)
		processRecords: function(data) {
			var self = this;
			data.forEach( function eachRecord(rec, index) {
				self.notificationMethods('debug', 'processing record '+index+': '+JSON.stringify(rec))
				let line_entry = {}
				// initializing
				line_entry.dirty = false
				line_entry.created_at = self.makeReadableDate(rec['created_at'])
				let updated_at = self.makeReadableDate(rec['updated_at'])
				if (rec['updated_at'] != rec['created_at']) { // check to the millisecond
					line_entry.updated_at = updated_at
				}
				delete rec['created_at']
				delete rec['updated_at']
				line_entry.attrs = rec
				line_entry.v = {}
				self.records.push(line_entry)
			})
			if (data.length==1) {
				self.notificationMethods('success', "retrieved one record from "+self.recordName)
			} else if (data.length>1) {
				self.notificationMethods('success', "got "+data.length+" records from "+self.recordName)
			} else {
				self.notificationMethods('info', 'table `'+self.recordName+"' empty")
			}
		},
		getRecords: function() {
			var self = this;
			self.notificationMethods('info', 'about to get all the records for '+self.recordName)
			return self.$emit( 'api-trigger', {fn: 'index', slot: self.api, callback: function indexCallback(data, error) {
				if (error === undefined) {
					self.processRecords(data)
				} else {
					self.notificationMethods('danger', error)
				}
			}})
		},

		// => (2) (4) (5)
		// ex. new record: {"dirty":false,"attrs":{"bar":"","baz":"","bam":""}}
		// ex. new record: {"dirty":false,"attrs":{"bar":null,"baz":null,"bam":null}}
		saveRecord: function(idx) {
			var self = this;
			let record = self.records[idx]
			if (self.validateRecord(idx)) {
				let id = record.attrs.id
				if (id === undefined) {
					// always save new records regardless if their state has changed
					self.notificationMethods('info', "about to insert a new record")
					// could optimize by only sending the fields that have actually changed
					self.$emit( 'api-trigger', {fn: 'create', slot: self.api, data: record.attrs, callback: function createCallback(data, error) {
						if (error === undefined) {
							self.notificationMethods('success', "inserted a new record")
							record.dirty = false
							record.created_at = self.makeReadableDate(data['created_at'])
							record.attrs.id = data.id
						} else {
							self.notificationMethods('danger', error)
						}
					}})
				} else { // id is set
					// only update a record if it has changed
					self.notificationMethods('info', "about to update an existing record")
					// TODO implement a `force update' switch!
					if (record.dirty) {
						self.$emit( 'api-trigger', {fn: 'update', slot: self.api, data: record.attrs, callback: function updateCallback(data, error) {
							if (error === undefined) {
								self.notificationMethods('success', "updated an existing record")
								// practically the same as initializing in mounted()
								record.dirty = false
								//record.created_at = self.makeReadableDate(data['created_at'])
								//delete data['created_at']
								let updated_at = self.makeReadableDate(data['updated_at'])
								if (data['updated_at'] != data['created_at']) {
									record.updated_at = updated_at
								}
								//delete record['updated_at]
							} else {
								self.notificationMethods('danger', error)
							}
						}})
					} else {
						self.notificationMethods('info', "record unchanged")
					}
				} // end else
			} else { // record is invalid
				self.notificationMethods('info', 'invalid fields')
			}
		},

		// => (6)

		actuallyDisappearRecord(idx) {
			var self = this;
			self.records.splice(idx,1)
			self.notificationMethods('success', "disappeared a new record")
		},
		actuallyDeleteRecord: function(idx) {
			var self = this;
			let rec = self.records[idx]
			let id = rec.attrs.id
			self.$emit( 'api-trigger', {fn: 'destroy', slot: self.api, data: id, callback: function destroyCallback(data, error) {
				if (error === undefined) {
					self.notificationMethods('success', "removed an exisiting record")
					self.records.splice(idx,1)
				} else {
					self.notificationMethods('danger', error)
				}
			}})
		},
		deleteRecord: function(idx) {
			var self = this;
			let rec = self.records[idx]
			let id = rec.attrs.id
			if (id === undefined) {
				if (rec.dirty) {
			 		if (confirm("Modified … Do you really want to delete?")) {
						self.actuallyDisappearRecord(idx)
					}
				} else {
					self.actuallyDisappearRecord(idx)
				}
			} else {
				self.notificationMethods('info', "about to remove an existing record")
				if (rec.dirty) {
			 		if (confirm("Modified … Do you really want to delete?")) {
						self.actuallyDeleteRecord(idx)
					}
				} else {
					self.actuallyDeleteRecord(idx)
				}
			}
		},

		whoami: function() {
			console.log(this)
		}
	},

	//
	// O N    M O U N T E D
	//
	mounted: function() {
		var self = this
		setTimeout(() => this.$emit('table-mounted', self), 500)
	}
}
</script>

// https://stackoverflow.com/questions/716442/css-cell-margin
<style scoped>
	/*
	 * table-of-records CSS (scoped)
	 * Made with <3 by Sahos 2019
	 * Released under the GNU GPL v3 License.
	 */
	table {
		/*
		background-image: url(/images/stoneywell19299williammorriswallpaper.jpg);
		background-repeat: no-repeat;
		*/
	}
	th {
		/*
		background-color: inherit !important;
		*/
	}
	td, th {
		padding: 0.2em;
		border: 1px dotted #AAAAAA;
	}
	td > input {
		border: none;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	.shrink-to-fit {
		display: inline-block;
	}
	.b0rkage {
		text-decoration-line: underline;
		text-decoration-style: wavy;
		color: red;
	}
	.uhoh {
		color: red;
	}
</style>

<style>
	/*
	 * table-of-records CSS (non-scoped)
	 * Made with <3 by Sahos 2019
	 * Released under the GNU GPL v3 License.
	 */
	.paginate-links.the-records {
		user-select: none;
	}
	ul.paginate-links.the-records > li {
		display: inline-block;
		margin: 0 10px;
	}
	ul.paginate-links.the-records > li a {
		cursor: pointer;
		color: #42b983;
	} 
	ul.paginate-links.the-records > li.active a {
		font-weight: bold;
	}
	ul.paginate-links.the-records > li.disabled a {
		color: #ccc;
		cursor: no-drop;
	}
</style>
