<!DOCTYPE html>
<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :head %>
	  <style> [v-cloak] { display: none; } </style>
	  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  </head>
	
	<script>
    <%= yield :script %>
  </script>
	
	<body>
		<div id="yielded">
			<%= yield %>
		</div>
  </body>
</html>
