<p>
During the background research for the dissertation I would ask people involved in digital philosophy projects if they knew of any relevant lists of digital philosophy projects so that I would not be reinventing the wheel. As I compiled a small set of background material (books, issues of journals, blog posts, and journal articles) on the topic I checked in them also. I also checked in the category listings in PhilPapers and Wikipedia, and I performed web searches. I explored the websites of practitioners in the field, most detailed their own project or projects, a couple have since started to maintain short list to other exemplary work.
</p>

<p>
The need for a comprehensive list of digital philosophy projects slowly dawned on me. As anyone involved in digital humanities knows, projects suffer from bitrot, unless a project is actively archived it can disappear from the face of the web. I had seen this happen already with some digital philosophy projects that were mentioned in the literature but whose digital component was no longer available. I mentioned the idea to a number of project maintainers, all thought it was a good idea, some even offered to take part once the project got going. I thought that as I was using a reference manager to track background material for a literature review that I may as well use the same reference manager to track digital philosophy projects. It was one of those things where you wonder why it has not been done before.
</p>

<p>
Which brings us to Elmcip. Elmcip is an EU funded project to create what they call a knowledge base of electronic literature and poetry. This involves tracking creative works (these are works that combine elements of traditional literature and poetry and computational elements) and critical writings about those creative works. Now if they had stopped there then what they would have built is a mini library on work in an emerging creative field and the discourse surrounding it. One could have used a reference manager for tracking such entities. One could use something as simple as Omeka for building a website around the material, or if one was more ambitious one could use one of any number of pieces of archive/catalogue whose raison d'etre is to manage tracking such entities. But Elmcip have gone farther. They track not only the works, they but also the individual authors of the works, significant anthologies of the works, research collections, notable organisations involved in the emerging field, significant events such as conferences and workshops, teaching syllabuses, publishers, journals, databases, and so on.
</p>

<p>
The parallels for what I wanted to build were uncanny, but then when one thinks about it, as so often strikes a researcher in digital humanities, what pertains to one discipline pertains to them all. Why not create an Elmcip for philosophy, or for history, or for any discipline within the humanities. I reached out to the board of Elmcip and they responded that I was not the first to suggest that the data-model behind Elmcip had more general application. However, the project was constrained in what they could do with the resources they had to hand, the usual. I did quite a few searches for a piece of software that would allow one to track works and the community around such works. To me, it feels like something general like this would have been built already. Surely the desire to track an emerging field would have resulted in a bespoke piece of software?
</p>

<p>And thus the idea for Emerging Philosophy was born.</p>
