<!-- Ruby/Vue combo is remarkably terse -->
<ul>
	<md-subheader><%= @raw_data.lines.length %> raw entries</md-subheader>
	<% @raw_data.lines.each do |entry| %>
	<li>
		<highlight code='<%= entry.gsub(/\",\"/,'", "').strip %>'/>
	</li>
	<% end %>
</ul>
