<%= form_with(model: goo, local: true) do |form| %>
  <% if goo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goo.errors.count, "error") %> prohibited this goo from being saved:</h2>

      <ul>
      <% goo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :wham %>
    <%= form.date_select :wham %>
  </div>

  <div class="field">
    <%= form.label :whaz %>
    <%= form.text_field :whaz %>
  </div>

  <div class="field">
    <%= form.label :whar %>
    <%= form.number_field :whar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
