<p id="notice"><%= notice %></p>

<h1>Goos</h1>

<table>
  <thead>
    <tr>
      <th>Wham</th>
      <th>Whaz</th>
      <th>Whar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goos.each do |goo| %>
      <tr>
        <td><%= goo.wham %></td>
        <td><%= goo.whaz %></td>
        <td><%= goo.whar %></td>
        <td><%= link_to 'Show', goo %></td>
        <td><%= link_to 'Edit', edit_goo_path(goo) %></td>
        <td><%= link_to 'Destroy', goo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goo', new_goo_path %>
