<p id="notice"><%= notice %></p>

<p>
  <strong>Wham:</strong>
  <%= @goo.wham %>
</p>

<p>
  <strong>Whaz:</strong>
  <%= @goo.whaz %>
</p>

<p>
  <strong>Whar:</strong>
  <%= @goo.whar %>
</p>

<%= link_to 'Edit', edit_goo_path(@goo) %> |
<%= link_to 'Back', goos_path %>
