<%= form_with(model: foo, local: true) do |form| %>
  <% if foo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foo.errors.count, "error") %> prohibited this foo from being saved:</h2>

      <ul>
      <% foo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bam %>
    <%= form.date_select :bam %>
  </div>

  <div class="field">
    <%= form.label :baz %>
    <%= form.text_field :baz %>
  </div>

  <div class="field">
    <%= form.label :bar %>
    <%= form.number_field :bar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
