<p id="notice"><%= notice %></p>

<p>
  <strong>Bam:</strong>
  <%= @foo.bam %>
</p>

<p>
  <strong>Baz:</strong>
  <%= @foo.baz %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @foo.bar %>
</p>

<%= link_to 'Edit', edit_foo_path(@foo) %> |
<%= link_to 'Back', foos_path %>
