<!-- C O N T E N T -->

<% @mr.each_with_index do |record, idx| %>
	<h2><%= record[:record_name].pluralize %></h2>
	<table-of-records
		:ref='refName(<%= idx %>)'
		record-name='<%= record[:record_name] %>'
		table-name='<%= record[:table_name] %>'
		v-bind:default-amount-per-page='7'
		v-bind:column-names='<%= raw record[:attr_names] %>'
		v-bind:column-types='<%= raw record[:attr_types].to_json %>'
		v-bind:column-defaults='<%= raw record[:defaults].to_json %>'
		v-bind:column-nulls='<%= raw record[:nulls].to_json %>'
		@table-mounted='tableMounted($event)'
		@api-trigger='apiTrigger($event)'
	>
	</table-of-records>
	<%= link_to "Here", records_path(record[:table_name]) %>
<% end %>
<br/> <!-- this is important! -->

<ul id='notice'>
	<li v-for='(item, idx) in henry.logItems' :key='idx' v-if='item.active'>
		<a class="pseudo button" href="#delete" @click='item.active = false'>x</a><span :class='item.class' v-html="item.message">
	</li>
</ul>

<label>
	<input type="checkbox" v-model="henry.logToConsole">
	<span class="checkable">Log to coleslaw?</span>
</label>
