<div class='app-entrypoint'>
	
	<h2><%= @record_name.pluralize %></h2>

	<table-of-records
		ref='T'
		record-name='<%= @record_name %>'
		table-name='<%= @table_name %>'
		v-bind:writeable='<%= @writeable.nil? ? true : @writeable %>'
		v-bind:default-amount-per-page='25'
		v-bind:column-names='<%= raw @record_attr_names %>'
		v-bind:column-types='<%= raw @record_attr_types.to_json %>'
		v-bind:column-defaults='<%= raw @record_defaults.to_json %>'
		v-bind:column-nulls='<%= raw @record_nulls.to_json %>'
		@table-mounted='tableMounted($event)'
		@api-trigger='apiTrigger($event)'
	>
	</table-of-records>

	<br/> <!-- this is important! -->

	<p>
	Notice goes here
	</p>


</div>
