
<style>
.directory > section {
  text-align: left;
  max-width: 960px;
  margin: 0 auto;
}

.tab-item > img {
	opacity: 0.4;
}
</style>

<!-- everything is code :/ -->
<code>
	<main class="directory">
		<section class="flex two">
			<div class="full">
				<h1>Emerging Philosophy</h1>
			</div>
			<aside class="fourth">
				<h2>something</h2>
				<h2>someone</h2>
				<h2>somewhere</h2>
				<h2>sometime</h2>
				<h2>somehow</h2>
			</aside>
			<article class="three-fourth">
				<p>
				Digital transformation is creating many emerging fields. Each of these
				fields has its own field of study. Sometimes these fields are so novel
				that it becomes interesting to track these fields and their attendant
				field of study and to record the information in one location. The intersection
				of computing and philosophy is just such a field. <em>Emerging Philosophy</em>
				is just such a location. <em>Emerging Philosophy</em> is unashamedly
				modelled on the <a href="https://elmcip.net/knowledgebase">eLMcip Knowledge Base</a> . Indeed, we have been in contact
				with a view to leverage common data models.
				</p>
				<div class="tabs three">
					<input id='tab-1' type='radio' name='tabgroupB' checked />
					<label class="pseudo button toggle" for="tab-1">Entities</label>
					<input id='tab-2' type='radio' name='tabgroupB'>
					<label class="pseudo button toggle" for="tab-2">Types</label>
					<input id='tab-3' type='radio' name='tabgroupB'>
					<label class="pseudo button toggle" for="tab-3">?</label>
					<div class="row">
						<div class="tab-item">
							<img src="images/abstract-architecture-attractive-988873.jpg">
							<!-- the catalogue root element -->
							<div id="entities">
								<ul-node :a_model="entityData">
								</ul>
								<transition name="fade">
									<div class="error" v-if="hasError" v-html="error"></div>
								</transition>
							</div>
						</div>

						<div class="tab-item">
							<img src="images/cracks-design-exterior-941552.jpg">
						</div>

						<div class="tab-item">
							<img src="images/abstract-angle-architecture-1005644.jpg">
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
</code>

<!--
	TODO: package axios and picnic up so that it all gets bundled into one file
				picnic is loaded in the head
-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<%= javascript_pack_tag 'entities_vue' %>
