<style>
	body {
		font-family: Menlo, Consolas, monospace;
		color: #444;
	}
	.a_node {
		cursor: pointer;
	}
	.bold {
		font-weight: bold;
	}
	/*ul {
		padding-left: 1em;
		line-height: 1.5em;
		list-style-type: dot;
	}*/
	ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.tree ul {
    margin-left: 10px;
  }
  ul.tree li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    color: #369;
    /* font-weight: bold; */
    border-left:1px solid rgb(100,100,100);
	}
  ul.tree li:last-child {
    border-left:none;
  }
  ul.tree li:before {
    position:relative;
    top:-0.3em;
    height:1em;
    width:12px;
    color:white;
    border-bottom:1px solid rgb(100,100,100);
    content:"";
    display:inline-block;
    left:-7px;
  }
  ul.tree li:last-child:before {
    border-left:1px solid rgb(100,100,100);
  }
	li .actions {
		display: none;
		color: #cc9a9a;
		transition: color 0.2s ease-out;
	}
	li .actions:hover {
		color: #af5b5e;
	}
	/* https://stackoverflow.com/questions/29210850/how-to-hover-on-child-li-elements */
	li span:hover .actions {
		display: inline;
	}
	span .remove-node:after {
		content: '×';
	}
	span .make-folder:after {
		content: '*';
	}
	.error {
		color: #af5b5e;
	}
	.fade-enter-active, .fade-leave-active {
  	transition: opacity .5s;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  	opacity: 0;
	}
</style>

<!-- node template -->
<script type="text/x-template" id="li-node-template">
	<li v-if="!removed">
		<!-- hasChildren is computed, open is boolean data -->
    <span :class="{bold: hasChildren}" :node-id="n_model.id">
			<span contenteditable @keydown.enter.prevent="updateLiNode(this, $event)" v-text="content"></span>
			<span @click="toggleOpenClose" v-if="hasChildren">{{ open ? '🗁' : '🗀' }}</span>
			<span class="actions">
				<span class="remove-node" @click="removeNode"></span>
				<span class="make-folder" @click="makeFolder"></span>
			</span>
    </span>
		<ul v-show="open" v-if="hasChildren"> 
      <li-node
        class="a_node"
        v-for="(child, index) in n_model.children"
        :key="index"
        :n_model="child">
			</li-node>
			<li><span>–––––</span></li>
			<li class="add-sibling" @dblclick="addSibling" v-if="allowSiblings">+</li>
    </ul>
	</li>
</script>

<p>(You can double click on a node to turn it into a folder with a child.)</p>
<p>(You can double click on a '+' to create a sibling node.)</p>

<!-- the demo root element -->
<div id="demo">
	<ul class="tree">
  	<li-node class="a_node" :n_model="treeData">
		</li-node>
	</ul>
	<transition name="fade">
		<div class="error" v-if="hasError" v-html="error"></div>
	</transition>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	function init_d3(dummy) {
		console.log('dummy init()')
	}
</script>
<%= javascript_pack_tag 'trees' %>
