/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.record-new {
	color: lightgray;
}

#notice > li > span.danger {
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}
#notice > li > span.warning {
	background-color: #fcf8e3;
	border-color: #faf2cc;
	color: #8a6d3b;
}
#notice > li > span.info {
	background-color: #d9edf7;
	border-color: #bcdff1;
	color: #31708f;
}
#notice > li > span.success {
	background-color: #dff0d8;
	border-color: #d0e9c6;
	color: #3c763d;
}
