class Api::<%= squished_name %>Controller < ApplicationController
	before_action :set_<%= row_name %>, only: [:show, :update, :destroy]

	# GET /<%= table_name %>
  def index
		@<%= table_name %> = <%= fqmn %>.all

		render json: @<%= table_name %>
  end

	# GET /<%= table_name %>/1
  def show
		render json: @<%= row_name %>
  end

	# POST /<%= table_name %>
  def create
		@<%= row_name %> = <%= fqmn %>.new(<%= row_name %>_params)

		if @<%= row_name %>.save
			render json: @<%= row_name %>, status: :created, location: "/api/<%= table_name %>/#{@<%= row_name %>.id}" # what's the best way to do this?
    else
			render json: @<%= row_name %>.errors, status: :unprocessable_entity
    end
  end

	# PATCH/PUT /<%= table_name %>/1
  def update
		if @<%= row_name %>.update(<%= row_name %>_params)
			render json: @<%= row_name %>
    else
			render json: @<%= row_name %>.errors, status: :unprocessable_entity
    end
  end

	# DELETE /<%= table_name %>/1
  def destroy
		@<%= row_name %>.destroy
  end

  private
    # Use callbacks to share common setup or constraints between actions.
	  def set_<%= row_name %>
			@<%= row_name %> = <%= fqmn %>.find(params[:id])
    end

    # Only allow a trusted parameter "white list" through.
	  def <%= row_name %>_params
			params.require(:<%= row_name %>).permit(<%= permitted %>)
    end
end
